@import "./colors";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(
        120deg,
        $dark-gray,
        darken($dark-gray, 100%)
    );
}
