@import "../../styles/mixins";
@import "../../styles/placeholders";
@import "../../styles/media-queries";
@import "../../styles/colors";

.main {
    min-height: 100vh;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media #{$max-width-md} {
        justify-content: flex-start;
        padding: 25px;
    }
}

.controlGroup {
    --max-width: 70vw;
    --min-height: 350px;

    position: relative;
    width: 100%;
    max-width: var(--max-width);
    height: var(--min-height);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(#000, 0.1), 0 4px 6px rgba(#000, 0.15);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media #{$max-width-xl} {
        --max-width: 85vw;
    }

    @media #{$max-width-md} {
        --min-height: 275px;

        height: auto;
        grid-template-columns: 1fr;
    }

    > div {
        width: 100%;
        max-width: calc(var(--max-width) * 0.5);

        @media #{$max-width-md} {
            max-width: var(--max-width);
        }

        &.results {
            padding: 15px 25px;
            background-color: $secondary-color;
            color: #fff;
            white-space: pre-line;
            overflow-y: auto;
            @include custom-scrollbar(7px, $secondary-color, $primary-color);

            @media #{$max-width-md} {
                max-width: var(--max-width);
                height: var(--min-height);
            }

            span {
                display: block;
                padding: 5px 0;
                line-height: 1.5;

                &.error {
                    color: $error-red;
                }
            }
        }
    }

    .showResultsBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px;
        border-radius: 50%;
        z-index: 1;
        transition: transform ease 250ms;
        @extend %btn-reset-themed;

        @media #{$max-width-md} {
            top: 15px;
            right: 15px;
            left: auto;
            padding: 10px;
            transform: unset;
        }

        &:hover {
            transform: translate(-50%, -50%) scale(1.1);

            @media #{$max-width-md} {
                transform: scale(1.1);
            }
        }

        svg {
            display: block;
            height: 25px;
            margin-left: 3px;

            @media #{$max-width-md} {
                height: 18px;
            }
        }
    }
}
