@import "../../styles/mixins";
@import "../../styles/placeholders";
@import "../../styles/media-queries";
@import "../../styles/z-index";
@import "../../styles/colors";

.main {
    min-height: 100vh;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media #{$max-width-md} {
        justify-content: flex-start;
        padding: 25px;
    }
}

.controlGroup {
    --max-width: 80vw;
    --min-height: 500px;

    position: relative;
    width: 100%;
    max-width: var(--max-width);
    height: var(--min-height);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(#000, 0.1), 0 4px 6px rgba(#000, 0.15);
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &.fullScreenMode {
        --max-width: 100%;
        --min-height: 50vh;

        $offset: 15px;

        position: fixed;
        top: $offset;
        left: $offset;
        right: $offset;
        bottom: $offset;
        width: calc(100% - #{$offset * 2});
        height: calc(100% - #{$offset * 2});

        > div:not(.editorActions) {
            max-width: var(--max-width);
            min-height: calc(var(--min-height) - #{$offset * 2});
        }
    }

    @media #{$max-width-xl} {
        --max-width: 85vw;
    }

    @media #{$max-width-md} {
        --min-height: 275px;

        height: auto;
        grid-template-columns: 1fr;
    }

    > div:not(.editorActions) {
        width: 100%;
        max-width: calc(var(--max-width) * 0.5);
        overflow-y: auto;

        @media #{$max-width-md} {
            max-width: var(--max-width);
            height: var(--min-height);
        }

        &.output {
            padding: 15px 25px;
            background-color: $secondary-color;
            color: $contrast-color;
            white-space: pre;
            @include custom-scrollbar(7px, $secondary-color, $primary-color);

            @media #{$max-width-md} {
                max-width: var(--max-width);
            }

            span {
                display: block;
                padding: 5px 0;
                line-height: 1.5;

                &.error {
                    color: $error-red;
                }
            }
        }
    }
}

.showOutputBtn,
.editorActions button {
    z-index: z-index(moderate);

    svg {
        display: block;
    }
}

.showOutputBtn {
    @extend %btn-reset-themed;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    border-radius: 50%;
    transform-origin: center;
    transition: transform ease 250ms, background-color ease 250ms;

    &:hover {
        transform: scale(1.1);
    }

    @media #{$max-width-md} {
        top: 15px;
        right: 15px;
        padding: 10px;
        left: auto;
        transform: unset;
    }

    @media #{$min-width-md} {
        transform: translate(-50%, -50%);

        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }

    svg {
        display: block;
        margin-left: 3px;
        height: 25px;

        @media #{$max-width-md} {
            height: 18px;
        }
    }
}

.editorActions {
    position: absolute;
    bottom: 15px;
    right: 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    button {
        @extend %btn-reset;

        &:hover {
            svg {
                opacity: 0.8;
            }
        }

        + button {
            margin-top: 15px;
        }

        svg {
            width: 18px;
            opacity: 0.4;
            transition: opacity ease 250ms;

            path {
                fill: $contrast-color;
            }
        }
    }
}
