@import "../../styles/placeholders";
@import "../../styles/colors";

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    button,
    .current {
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: 600;
        line-height: 1;
    }

    button {
        min-width: 125px;
        font-size: 14px;
        text-transform: uppercase;
        @extend %btn-reset-themed;
    }

    .current {
        min-width: 50px;
        background-color: lighten($secondary-color, 10%);
        color: $contrast-color;
        text-align: center;
        margin: 0 15px;
        user-select: none;
    }
}
