@import "../../styles/placeholders";
@import "../../styles/z-index";
@import "../../styles/colors";

$horizontal-padding: 25px;

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 50px $horizontal-padding 25px;
    background-color: rgba($contrast-color, 0.15);
    backdrop-filter: blur(20px);
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 8px rgba(#000, 0.5), 0 6px 8px rgba(#000, 0.55);
    z-index: z-index(high);
    animation: open-popup ease forwards 250ms;

    &,
    textarea {
        border-radius: 5px;
    }

    h2 {
        color: $contrast-color;
        font-size: 32px;
        font-weight: 200;
        margin-bottom: 25px;
    }
}

.textareaContainer {
    position: relative;

    textarea {
        width: 500px;
        min-height: 500px;
        padding: 15px;
        font-size: 16px;
        resize: none;
        outline: none;
        box-shadow: 0 6px 8px rgba(#000, 0.1), 0 6px 8px rgba(#000, 0.15);
    }

    button {
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: z-index(basic);
        @extend %btn-reset;

        &:hover {
            svg path {
                fill: $success-green;
            }
        }

        &:active {
            &::after {
                opacity: 0.5;
                transform: scale(1.5);
                transition: opacity ease 0s, transform ease 0s;
            }
        }

        &::after {
            $ripple-size: 30px;

            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: $ripple-size;
            height: $ripple-size;
            margin-top: -$ripple-size * 0.5;
            margin-left: -$ripple-size * 0.5;
            border-radius: 50%;
            background-color: rgba(darken($success-green, 10%), 0.25);
            transform: scale(0);
            transition: opacity ease 750ms, transform ease 750ms;
            z-index: -1;
            opacity: 0;
        }

        svg {
            height: 20px;
            transition: fill ease 250ms;
        }
    }
}

.close {
    $btn-padding: 5px;

    position: absolute;
    top: 15px;
    right: $horizontal-padding - $btn-padding;
    padding: $btn-padding;
    @extend %btn-reset;

    &:hover {
        svg path {
            fill: $danger-red;
        }
    }

    svg {
        display: block;
        height: 15px;

        path {
            fill: $contrast-color;
        }
    }
}

@keyframes open-popup {
    from {
        opacity: 0;
        transform: translate(-50%, 10px);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
